<label>Server Name </label>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)" /> -->
<input type="text" class="form-control" [(ngModel)]="serverName" />
<P>{{ serverName }}</P>
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>
  Add Server
</button>
<!-- <P>{{ serverCreationStatus }} </P> -->
<P *ngIf="serverCreated">Server was created, server name is {{ serverName }}</P>
<!-- *ngIf is a directive which adds or removes element from the DOM -->
<app-server *ngFor="let server of servers"></app-server>
